body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  height: 600px;
  width: 100vh;
}
.map {
  height: 100%;
  width: 100%;
}
.marker {
  background-color: red;
  background-size: cover;
  height: 22px;
  width: 22px;
  border-radius: 8px;
  border: 1px solid green;
  opacity: 10;
  z-index: 10;
}
